<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loginapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpiderVerse"
        tools:targetApi="31"
        tools:ignore="ExportedActivity">

        <!-- 主活动 - 登录界面 (唯一有 LAUNCHER 的 Activity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 注册活动 (设置为 exported=false，只能从应用内部启动) -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- 主页活动 (设置为 exported=false，只能从应用内部启动) -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <!-- 会话列表活动 (设置为 exported=false，只能从应用内部启动) -->
        <activity
            android:name=".ConversationListActivity"
            android:exported="false" />

        <activity
            android:name=".DataVisualizationActivity"
            android:exported="false" />

        <!-- 聊天活动 (设置为 exported=false，只能从应用内部启动) -->
        <activity
            android:name=".ChatActivity"
            android:exported="false" />


    </application>

</manifest>